<div class="col-md-3">
    <div class="product-item">
        <figure class="product-style">
            <img src={{ book.ImageLinkThumbnail }},alt="Books" class="product-item">
        </figure>
        <figcaption>
            <h3>{{ book.title }}</h3>
            <span>{{ book.author.name |default ('Na') }} {{ book.author.nickname |default ('') }}</span>
        </figcaption>
    </div>
</div>