<div class="col-md-3">
    <div class="product-item">
        <figure class="product-style">
            <img src="./bibliotheme/assets/images/tab-item4.jpg" alt="Books" class="product-item">
        </figure>
        <figcaption>
            <h3>Just felt from outside</h3>
            <span>Nicole Wilson</span>
            <div class="item-price">$ 40.00</div>
        </figcaption>
    </div>
</div>