<div class="col-md-3">
    <div class="product-item">
        <figure class="product-style">
            <img src="{{ book.DisplayImage }}" alt="Books"
                style="width: 95%; height: 400px; object-fit: cover;">
        </figure>
        <figcaption>
            <h3>{{ book.title }}</h3>
            <span>
                {% if book.author %}
                    {{ book.author.name | default('Na') }} {{ book.author.nickname | default('') }}
                {% else %}
                    Auteur inconnu
                {% endif %}
            </span>
        </figcaption>
    </div>
</div>